<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <mat-drawer-container class="flex-auto h-full">
    <!-- Drawer -->
    <mat-drawer class="w-80" [mode]="drawerMode" [opened]="drawerOpened" #drawer>
      <ng-container *ngIf="episodes$ | async as episodes; else loading">
        <div
          class="relative flex flex-auto flex-col w-full min-w-0 h-full lg:min-w-90 lg:max-w-90 border-r z-10">
          <!-- Header -->
          <app-episode-header
            class="relative flex flex-0 items-center justify-between h-16 px-4 bg-fuchsia-700">
          </app-episode-header>

          <!-- Episode list -->
          <div class="overflow-y-auto" #episodeList>
            <div *ngFor="let episode of episodes">
              <div
                class="flex px-8 py-5 cursor-pointer"
                [ngClass]="{
                  'hover:bg-neutral-700': !selectedEpisodeId || selectedEpisodeId !== episode.id,
                  'bg-neutral-800': selectedEpisodeId && selectedEpisodeId === episode.id
                }"
                [routerLink]="[episode.id]"
                (click)="showEpisode(episode)">
                <mat-icon
                  [ngClass]="{
                    'text-hint': !selectedEpisodeId || selectedEpisodeId !== episode.id,
                    'text-primary': selectedEpisodeId && selectedEpisodeId === episode.id
                  }"
                  fontIcon="ondemand_video"></mat-icon>
                <div class="ml-3">
                  <div
                    class="font-medium leading-6"
                    [ngClass]="{
                      'text-primary': selectedEpisodeId && selectedEpisodeId === episode.id
                    }">
                    {{episode.name}}
                  </div>
                  <div class="mt-0.5 text-secondary"> {{ episode.episode }} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-drawer>

    <!-- Drawer content -->
    <mat-drawer-content class="flex flex-col">

      <!-- Main -->
      <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
