/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.routed-component {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: rgb(113, 114, 116);
}
